trigger:
  branches:
    include:
      - '*'
  paths:
    include:
      - .rubocop.yml
      - src
      - samples/cookbooks/mssql
pr: none

variables:
  isPublishEnabled: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

stages:
  - template: ../azure-pipelines.stages.yml
    parameters:
      configurations:
        - name: mssql
          platforms:
            - name: windows
              suites:
                - server-2017-developer
                - server-2019-developer
                - management-studio-2017
                - management-studio-2018
