trigger:
  branches:
    include:
      - '*'
  paths:
    include:
      - .rubocop.yml
      - src
      - samples/cookbooks/docker
pr: none

variables:
  isPublishEnabled: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

stages:
  - template: ../azure-pipelines.stages.yml
    parameters:
      configurations:
        - name: docker
          platforms:
            - name: windows-server-desktop
              suites:
                - enterprise

            - name: windows-server-core
              suites:
                - enterprise

            - name: windows-10
              suites:
                - desktop

            - name: ubuntu
              suites:
                - community
