trigger:
  branches:
    include:
      - '*'
  paths:
    include:
      - .rubocop.yml
      - src
      - samples/cookbooks/windows
pr: none

variables:
  isPublishEnabled: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

stages:
  - template: ../azure-pipelines.stages.yml
    parameters:
      configurations:
        - name: windows
          platforms:
            - name: windows
              suites:
                - chocolatey-packages
                - environment-variables
                - features
                - files
                - native-packages
                - updates-install
                - updates-cleanup
