{
  "gusztavvargadr_vsts": {
    "tools": {
      "agent:latest": {
        "config": {
          "url": "{{ with secret "/kv/vsts-agent" }}{{ .Data.data.url }}{{end}}",
          "token": "{{ with secret "/kv/vsts-agent" }}{{ .Data.data.token }}{{end}}",
          "agent": "ubuntu-vmware",
          "env": {
            "CHEF_LICENSE": "accept-silent",
            "VAGRANT_DEFAULT_PROVIDER": "vmware_desktop",
            "VSTS_AGENT_CAP_VIRTUALIZATION_PROVIDER": "vmware"
          }
        }
      }
    }
  }
}
